
/* FOOTER */

.footer-content{
    padding: 40px 0px;
    border-top: 1px solid rgb(247, 247, 247);
    border-bottom: 1px solid rgb(247, 247, 247);
    background-color: rgb(255, 255, 255);
}

.footer-content .content-container{
	width:1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto
}

footer .block{
    margin: 0px 0px 17px;
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    text-transform: uppercase;
}

.content-container .block span,a{
    margin-right: 10px;
    color: inherit;
}

.content-container h4{
    margin: 0px 0px 17px;
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    text-transform: uppercase;
}
.content-container .block a:hover{
    color: inherit;
    text-decoration: none;
}

.footer-copyright{
    font-size: 12px;
    font-weight: 500;
}